<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="col-lg-0 h-100 text-center text-lg-center my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Mazon OS 2019. <span data-localize="copyright">All Rights Reserved</span>. <span data-localize="contact">Contact</span>: irc.freenode.net #mazonos | root@mazonos.com</p>
        </div>
        <!-- locale -->
        <div class="row">
            <div class="col-auto ml-auto small">
                <a href="#pt-BR" data-lang="pt-BR">Português (Brasil)</a>
                <span class="px-1">|</span>
                <a href="#en" data-lang="en">English</a>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- jQuery translate plugin -->
<script src="vendor/jquery-localize/jquery.localize.min.js"></script>
<script src="js/app.js?id=5773a9ef4813d904b6306c824d18d967"></script>
