<!-- Navigation -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="http://mazonos.com/">MAZON OS</a>
        <form class="form-inline">
            <a class="btn btn-sm" href="wiki.html" data-localize="nav.wiki">wiki</a>
            <a class="btn btn-sm" href="contrib.html" data-localize="nav.contrib">contrib</a>
            <a class="btn btn-sm" href="forum/" data-localize="nav.forum">forum</a>
            <a class="btn btn-sm" href="releases/" data-localize="nav.download">download</a>
            <a class="btn btn-sm" href="packages/" data-localize="nav.packages">packages</a>
            <a class="btn btn-success" href="changelog.txt" data-localize="nav.changelog">changelog</a>
        </form>
    </div>
</nav>
